//App Section
.app-section {
	background: url(../img/app/app-bg.jpg) no-repeat center center;
	background-size: cover;
	.app-content {
		p {
			font-size: 21px;
			font-weight: 500;
			color: $text-color;
		}
		button {
			max-width: 230px;
			img {
				width: 100%;
			}
		}
	}
	.app-screen-thumb {
		position: absolute;
		right: 30%;
		bottom: 0;
	}
	.app-ele {
		position: absolute;
		right: 0;
		top: 0;
		animation: updown 4s linear infinite;
	}
	@include breakpoint(max-xxl) {
		.app-screen-thumb {
			position: absolute;
			right: 16%;
			bottom: 0;
		}
	}
	@include breakpoint(max-xl) {
		.app-screen-thumb {
			position: absolute;
			right: 9%;
			bottom: 0;
		}
		.app-ele {
			svg {
				width: 200px;
				height: 300px;
			}
		}
	}
	@include breakpoint(max-lg) {
		.app-content {
			p {
				font-size: 18px;
			}
			button {
				max-width: 160px;
				img {
					width: 100%;
				}
			}
		}
		.app-screen-thumb {
			display: none;
		}
		.app-ele {
			svg {
				width: 100px;
				height: 300px;
			}
		}
	}
}
//App Section


//User Items
.user-items{
    background: $white;
    padding: 40px 40px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    .user-icon{
        position: absolute;
        right: 0;
        bottom: 0;
    }
    &.active,
    &:hover{
        background: $black;
        .user-icon{
            filter: brightness(25);
        }
        p{
            color: $white;
        }
        h5{
            color: $white;
        }
    }
    @include breakpoint(max-xxl){
        padding: 30px 30px;
    }
}
//User Items
