.brand-slider {
	border-bottom: 1px solid $border-color;
	padding-bottom: 45px;
}

.swiper-3d-section {
	.container {
		max-width: 1500px;
		margin: 0 auto;
	}
	.card3d-content {
		position: absolute;
		left: 50%;
		width: 100%;
		text-align: center;
		opacity: 0;
		span {
			margin: 0 auto;
		}
	}
}
.swiper-3d-section .swiper-3d-container {
	width: 100%;
}
.swiper-3d-section .swiper-3d-container .swiper-slide {
	width: 320px;
}
.swiper-3d-section .swiper-3d-container .swiper-slide .card-3d {
	position: relative;
	width: 320px;
	transition: all 0.5s ease;
	// opacity: 0.5;
}
.swiper-3d-section .swiper-3d-container .swiper-slide .card-3d .img-area {
	border-radius: inherit;
}
.swiper-3d-section .swiper-3d-container .swiper-slide .card-3d .img-area img {
	border-radius: inherit;
	transition: all 0.5s ease;
}
.swiper-3d-section .swiper-3d-container .swiper-slide .card-3d .card-date {
	border-radius: 12px;
	background: rgba(var(--n1), 0.45);
}
.swiper-3d-section .swiper-3d-container .swiper-slide .card-3d .card-status {
	border-radius: 46px;
	border: 1px solid rgb(var(--s1));
	background: rgb(var(--n4));
	bottom: -10px;
}
.swiper-3d-section .swiper-3d-container .swiper-slide .card-3d .card-info {
	border-radius: 12px;
	background: rgba(var(--n3), 0.4);
}
.swiper-3d-section .swiper-3d-container .swiper-slide-active .card-3d {
	opacity: 1;
	.card3d-content {
		position: absolute;
		bottom: 30px;
		left: 40px;
		width: 100%;
		text-align: center;
		z-index: 1;
		opacity: 1;
		span {
			margin: 0 auto;
		}
	}
	z-index: 1;
	position: relative;
	&::before {
		position: absolute;
		bottom: -220px;
		left: 0;
		content: "";
		width: 400px;
		border-radius: 50%;
		height: 400px;
		background: $theme-color;
	}
	&::after {
		position: absolute;
		bottom: -220px;
		left: 0;
		width: 400px;
		height: 400px;
		content: "";
		background: rgba(5, 5, 5, 0.486);
		border-radius: 50%;
	}
	@include breakpoint(max-sm) {
		width: 100%;
        overflow: hidden;
        .card3d-content{
            left: 50%;
            transform: translateX(-50%);
        }
		img {
			width: 100%;
		}
		&::before {
			bottom: -220px;
			left: 50%;
            transform: translateX(-50%);
			width: 300px;
			height: 300px;
		}
		&::after {
			bottom: -220px;
			left: 50%;
            transform: translateX(-50%);
			width: 300px;
			height: 300px;
		}
	}
}
.swiper-3d-section .swiper-btn-area .swiper-3d-button-prev,
.swiper-3d-section .swiper-btn-area .swiper-3d-button-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 10%;
	z-index: 10;
}
.swiper-3d-section .swiper-btn-area .swiper-3d-button-next {
	left: unset;
	right: 10%;
}
