//Feedback Items
.feedback-section {
    z-index: 1;
    &::before{
        position: absolute;
        left: 0;
        top: 0;
        height: 740px;
        content: "";
        width: 100%;
        background: url(../img/testimonial/feedback-bg.png) no-repeat center center;
        background-size: cover;
        z-index: -1;
    }
}
//Feedback Items

//Subscribe Contact
.subscribe-wrapper {
	border: 1px solid rgb(213, 213, 213);
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
	background: url(../../assets/img/testimonial/subs-bg.png) no-repeat center
		center;
	background-size: cover;
	z-index: 1;
	padding: 100px;
	.subscribe-form {
		background: $theme-color;
		border-radius: 8px;
		padding: 50px 50px;
		input {
			width: 100%;
			padding: 14px 24px;
			border-radius: 4px;
			color: $text-color;
			border: unset;
			font-size: 16px;
			font-weight: 500;
			margin-bottom: 22px;
			&::placeholder {
				color: $text-color;
			}
		}
	}
	.subs-line {
		position: absolute;
		top: -20px;
		left: -10px;
		z-index: -1;
	}
	.subs-list {
		li {
			font-size: 18px;
			color: $text-color;
			i {
				color: $theme-color;
			}
		}
	}
	@include breakpoint(max-xl) {
		padding: 40px;
		.subscribe-form {
			padding: 20px 20px;
		}
	}
	@include breakpoint(max-sm) {
		padding: 20px;
	}
}
//Subscribe Contact
