//Offer Section3
.offer3-section {
	z-index: 1;
	.offer-trit {
		background-color: rgb(245, 245, 245);
		box-shadow: inset -4px 0px 0px 0px rgba(233, 11, 53, 0.004);
	}
	.offer-elee {
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;
	}
	.offer3-thumb {
		direction: rtl;
		margin: 0 120px;
		position: relative;
		img {
			max-width: unset;
		}
		.directory-badge {
			position: absolute;
			bottom: 46px;
			right: 46px;
			img {
				width: 50px;
				margin-bottom: 14px;
			}
			span {
				font-size: 22px;
				font-weight: 500;
				line-height: 26px;
				color: $white;
				display: block;
				text-align: start;
			}
		}
	}
	@include breakpoint(max-xxl) {
		.offer3-thumb {
			direction: rtl;
			margin: 0 60px;
			img {
				max-width: unset;
			}
		}
	}
	@include breakpoint(max-xl) {
		.offer3-thumb {
			direction: rtl;
			margin: 0 0px;
			img {
				max-width: unset;
			}
		}
	}
	@include breakpoint(max-lg) {
		.offer3-thumb {
			direction: rtl;
			margin: 10px 0px 0;
			width: 100%;
			img {
				max-width: 100%;
			}
			.directory-badge {
				position: absolute;
				bottom: 16px;
				right: 16px;
				img {
					width: 40px;
					margin-bottom: 9px;
				}
				span {
					font-size: 16px;
					line-height: 26px;
				}
			}
		}
	}
	@include breakpoint(max-xxsmall) {
		.offer3-thumb {
			.directory-badge {
				bottom: 7px;
				right: 7px;
				img {
					width: 20px;
					margin-bottom: 5px;
				}
				span {
					font-size: 12px;
					line-height: 26px;
				}
			}
		}
	}
}
//Offer Section3

//Land Feature
.land-items {
	position: relative;
	overflow: hidden;
	img {
		width: 100%;
		border-radius: 8px;
	}
	.land-content {
        width: 80%;
		border-radius: 5px;
		background-color: rgb(22, 22, 22, 0.902);
		z-index: 1;
		padding: 36px 36px;
		position: absolute;
		bottom: 35px;
		left: 35px;
        transition: all 0.5s;
        @include breakpoint(max-xxxl){
            bottom: 20px;
            left: 20px;
        }
        @include breakpoint(max-xxl){
            width: 85%;
            left: 14px;
            bottom: 14px;
            padding: 28px 20px;
        }
        @include breakpoint(max-xl){
            padding: 26px 16px;
            span{
                margin-bottom: 0 !important;
            }
            h4{
                a{
                    font-size: 18px;
                }
            }
        }
        @include breakpoint(max-lg){
            padding: 26px 18px;
        }
	}
	&:hover {
		.land-content {
			background-color: $theme-color;
			bottom: 33px;
			left: 33px;
            h4,a,span{
                color: $white;
            }
		}
	}
}
//Land Feature
