.hero-1 {
	padding: 260px 0 185px;
	position: relative;

	.hero-bg {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: opacity 1500ms ease-in, -webkit-transform 7000ms ease;
		transition: opacity 1500ms ease-in, -webkit-transform 7000ms ease;
		transition: transform 9000ms ease, opacity 1500ms ease-in;
		transition: transform 9000ms ease, opacity 1500ms ease-in,
			-webkit-transform 9000ms ease;

		&::before {
			@include before;
			background: linear-gradient(
				180deg,
				rgba(11, 13, 17, 0.6) 0%,
				rgba(11, 13, 17, 0.2) 30%,
				#0b0d11 100%
			);
		}
	}

	.hero-content {
		position: relative;
		opacity: 0;
		z-index: 3;
		transform: translateY(-150px);

		h1 {
			margin-bottom: 30px;
			font-size: 50px;
			font-weight: 800;
			color: $white;
			line-height: 70px;
			.discover {
				letter-spacing: 9px;
				color: $theme-color;
				display: block;
			}
		}
		.listing-search-form {
			padding: 20px 20px;
			margin-bottom: 30px;
			border-radius: 10px;
			background: url(../../assets/img/hero/search-bg.png) no-repeat center
				center;
			background-size: cover;
			.search-wrap {
				background: $white;
				padding: 20px 20px;
				border-radius: 5px;
				width: 100%;
				margin: 0 auto;
				-webkit-box-shadow: 0 0px 60px 0 rgba(0, 0, 0, 0.1);
				box-shadow: 0 0px 60px 0 rgba(0, 0, 0, 0.1);
				.search-form-main {
					display: flex;
					align-items: center;
					justify-content: space-between;
					input {
						border: unset;
						border-radius: 0;
						font-size: 16px;
						color: $text-color;
					}
					::placeholder {
						color: $text-color;
					}
					.search-first {
						width: 285px;
					}
					.theme-btn {
						font-size: 15px;
						letter-spacing: 1px;
					}
				}
				.category-select {
					width: 285px;
					border-left: 1px solid rgb(213, 213, 213);
					padding-left: 40px;
				}
				.nice-select {
					border-radius: 0;
					.list {
						li {
							background: var(--white);
							font-size: 14px;
							font-weight: 500;
							color: var(--pragraph);
							padding-left: 10px;
							border-color: rgba(112, 112, 112, 0.26);
						}
					}
					.current {
						font-size: 14px;
						font-weight: 400;
						color: $text-color;
					}
				}
			}
		}
		.browse-hilisht {
			display: flex;
			align-items: center;
			gap: 10px;
			.b-hilisht-text {
				font-size: 16px;
				font-weight: 600;
				color: $white;
			}
			.b-hilisht-item {
				background: #ffffff33;
				border-radius: 5px;
				padding: 2px 16px;
				color: #fff;
				font-size: 12px;
				font-weight: 700;
				-webkit-transition: all 0.35s;
				transition: all 0.35s;
				&:hover {
					cursor: pointer;
				}
			}
			.arrow-ele {
				position: absolute;
				top: 100%;
				left: 160px;
			}
		}
	}
	.hero-button {
		text-align: right;
		transform: translateY(150px);
		opacity: 0;
	}
	@include breakpoint(max-xxl) {
		.hero-content {
			.listing-search-form {
				.search-wrap {
					.search-form-main {
						.search-first {
							width: 255px;
						}
					}
					.category-select {
						width: 255px;
						padding-left: 20px;
					}
				}
			}
		}
	}
	@include breakpoint(max-xl) {
		padding: 200px 0 145px;
		.hero-content {
			h1 {
				margin-bottom: 30px;
				font-size: 50px;
				font-weight: 800;
				line-height: 70px;
			}
			.listing-search-form {
				padding: 15px 16px;
				margin-bottom: 30px;
				.search-wrap {
					padding: 15px 15px;
					.search-form-main {
						display: flex;
						align-items: center;
						justify-content: space-between;
						input {
							font-size: 16px;
						}
						.search-first {
							width: 215px;
						}
						.theme-btn {
							font-size: 15px;
						}
					}
					.category-select {
						width: 215px;
						padding-left: 20px;
					}
					.nice-select {
						.list {
							li {
								font-size: 14px;
							}
						}
					}
				}
			}
			.browse-hilisht {
				display: flex;
				align-items: center;
				gap: 10px;
				.b-hilisht-item {
					padding: 2px 16px;
				}
				.arrow-ele {
					left: 160px;
				}
			}
		}
	}
	@include breakpoint(max-lg) {
		padding: 180px 0 125px;
		.hero-content {
			h1 {
				margin-bottom: 30px;
				font-size: 42px;
				font-weight: 800;
				line-height: 70px;
			}
			.listing-search-form {
				padding: 15px 16px;
				margin-bottom: 30px;
				.search-wrap {
					padding: 15px 15px;
					.search-form-main {
						display: flex;
						align-items: center;
						flex-wrap: wrap;
						justify-content: center;
						input {
							font-size: 14px;
							width: 100%;
							margin-bottom: 20px;
							padding-bottom: 8px;
							border-bottom: 1px solid #ebebeb;
						}
						.search-first {
							width: 100%;
						}
						.theme-btn {
							font-size: 15px;
							width: 100%;
							justify-content: center !important;
						}
					}
					.category-select {
						width: 100%;
						padding-left: 00px;
						border-left: unset;
						border-bottom: 1px solid #ebebeb;
						padding-bottom: 8px;
						margin-bottom: 22px;
					}
					.nice-select {
						.list {
							li {
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}
	@include breakpoint(max-md) {
		padding: 160px 0 125px;
	}
	@include breakpoint(max-sm) {
		padding: 130px 0 105px;
		.hero-content {
			h1 {
				margin-bottom: 30px;
				font-size: 30px;
				font-weight: 800;
				line-height: 40px;
			}
		}
	}
}

.browse-hilisht {
	display: flex;
	align-items: center;
	gap: 10px;
	.b-hilisht-text {
		font-size: 16px;
		font-weight: 600;
		color: $white;
	}
	.b-hilisht-item {
		background: #ffffff33;
		border-radius: 5px;
		padding: 2px 16px;
		color: #fff;
		font-size: 12px;
		font-weight: 700;
		-webkit-transition: all 0.35s;
		transition: all 0.35s;
		&:hover {
			cursor: pointer;
		}
	}
	.arrow-ele {
		position: absolute;
		top: 100%;
		left: 160px;
	}
}

.hero-section {
	.swiper-slide.swiper-slide-active {
		.hero-bg {
			-webkit-transform: scale(1.35);
			transform: scale(1.35);
		}

		.hero-content {
			opacity: 1;
			transform: translateY(0px);
			transition: all 2500ms ease;
		}

		.hero-button {
			opacity: 1;
			transform: translateY(0px);
			transition: all 2500ms ease;
		}
	}
	&.hero-section2 {
		background: url(../../assets/img/hero/hero2-bg.png) no-repeat center
			center;
		background-size: cover;
		padding: 145px 0 0;
		.hero-wrap2 {
			background: url(../../assets/img/hero/hero-thumb2.png) no-repeat center
				center;
			background-size: cover;
			border-radius: 12px;
			padding: 149px 0 149px;
			.hero-content {
				position: relative;
				z-index: 1;
				transform: initial;
				opacity: initial;
				max-width: 1171px;
				margin: 0 auto;
				.listing-search-form {
					background: transparent;
					padding: 0 0;
				}
				h1 {
					font-size: 70px;
					text-transform: uppercase;
					margin-bottom: 40px;
				}
			}
		}
		.container {
			max-width: 1475px;
			margin: 0 auto;
		}
		.browse-hilisht {
			padding: 50px 0;
			display: flex;
			justify-content: center;
			.arrow-eles {
				position: absolute;
				left: 23%;
				top: 0;
				width: 90px;
				transform: rotate(32deg);
			}
		}
		@include breakpoint(max-xxl) {
			padding: 145px 0 0;
			.hero-wrap2 {
				padding: 149px 0 149px;
				.hero-content {
					max-width: 1171px;
					margin: 0 auto;
					.listing-search-form {
						background: transparent;
						padding: 0 0;
						.search-wrap {
							width: 90%;
						}
					}
					h1 {
						font-size: 70px;
						text-transform: uppercase;
						margin-bottom: 40px;
					}
				}
			}
			.container {
				max-width: 1475px;
				margin: 0 auto;
			}
			.browse-hilisht {
				padding: 50px 0;
				.arrow-eles {
					left: 23%;
					width: 90px;
				}
			}
		}
		@include breakpoint(max-xl) {
			padding: 135px 0 0;
			.hero-wrap2 {
				padding: 119px 0 119px;
				.hero-content {
					.listing-search-form {
						.search-wrap {
							width: 90%;
						}
					}
					h1 {
						font-size: 56px;
						margin-bottom: 40px;
					}
				}
			}
			.browse-hilisht {
				padding: 50px 0;
				.arrow-eles {
					left: 23%;
					width: 90px;
				}
			}
		}
		@include breakpoint(max-lg) {
			padding: 125px 0 0;
			.hero-wrap2 {
				padding: 119px 0 119px;
				.hero-content {
					.listing-search-form {
						.search-wrap {
							width: 90%;
						}
					}
					h1 {
						font-size: 56px;
						margin-bottom: 40px;
					}
				}
			}
			.browse-hilisht {
				padding: 50px 0;
				.arrow-eles {
					left: 23%;
					width: 90px;
				}
			}
		}
		@include breakpoint(max-md) {
			padding: 85px 0 0;
			.hero-wrap2 {
				padding: 90px 0 110px;
				.hero-content {
					.listing-search-form {
						.search-wrap {
							width: 90%;
						}
					}
					h1 {
						font-size: 48px;
						margin-bottom: 40px;
					}
				}
			}
			.browse-hilisht {
				padding: 50px 0;
				.arrow-eles {
					left: 23%;
					width: 90px;
				}
			}
		}
		@include breakpoint(max-md) {
			padding: 85px 0 0;
			.hero-wrap2 {
				padding: 90px 0 100px;
				.hero-content {
					.listing-search-form {
						.search-wrap {
							width: 95%;
						}
					}
					h1 {
						font-size: 36px;
						margin-bottom: 30px;
					}
				}
			}
			.browse-hilisht {
				padding: 50px 0;
				.arrow-eles {
					left: 23%;
					width: 90px;
				}
			}
		}
	}
	&.hero-section3 {
		background: url(../../assets/img/hero/hero3-bg.jpg) no-repeat center
			center;
		background-size: cover;
		padding: 271px 0 80px;
		z-index: 1;
		position: relative;
		.hero-wrap2 {
			background: transparent;
			padding: 0 0 0;
			.hero-content {
				position: relative;
				z-index: 1;
				transform: initial;
				opacity: initial;
				max-width: 1171px;
				margin: 0 0 0 0;
				.listing-search-form {
					background: transparent;
					padding: 0 0;
				}
				h1 {
					font-size: 60px;
					text-transform: uppercase;
					margin-bottom: 40px;
					color: $black;
				}
			}
			.browse-hilisht {
				padding: 0 0;
				margin-top: 30px;
				.b-hilisht-text {
					color: $black;
				}
				.b-hilisht-item {
					background-color: rgb(22, 22, 22, 0.2);
					transition: all 0.4s;
					&:hover {
						background: $theme-color;
					}
				}
			}
			.hero3-thumb-wrap {
				max-width: 743px;
				gap: 24px;
				position: absolute;
				top: -155px;
				right: 0;
				.hero3-thumb-inner {
					display: grid;
					gap: 24px;
					.thumb1 {
						width: 100%;
						img {
							width: 100%;
						}
					}
				}
				.thumb2 {
					width: 100%;
					max-width: 419px;
					img {
						width: 100%;
					}
				}
			}
		}
		@include breakpoint(max-xxl) {
			.hero-wrap2 {
				.hero-content {
					.listing-search-form {
						.search-wrap {
							width: 100%;
						}
					}
				}
				.hero3-thumb-wrap {
					max-width: 650px;
					gap: 14px;
					position: absolute;
					top: -155px;
					right: 0;
					.hero3-thumb-inner {
						display: grid;
						gap: 14px;
						.thumb1 {
							width: 100%;
							img {
								width: 100%;
							}
						}
					}
					.thumb2 {
						max-width: 300px;
						img {
							width: 100%;
						}
					}
				}
			}
		}
		@include breakpoint(max-xl) {
			.hero-wrap2 {
				.hero-content {
					.listing-search-form {
						.search-wrap {
							width: 100%;
						}
					}
					h1 {
						font-size: 44px;
						line-height: 56px;
						margin-bottom: 40px;
					}
				}
				.hero3-thumb-wrap {
					max-width: 550px;
					gap: 14px;
					top: -165px;
					right: 0;
					.hero3-thumb-inner {
						display: grid;
						gap: 14px;
						.thumb1 {
							width: 100%;
							img {
								width: 100%;
							}
						}
					}
					.thumb2 {
						max-width: 300px;
						img {
							width: 100%;
						}
					}
				}
			}
		}
		@include breakpoint(max-lg) {
			padding: 150px 0 80px;
			.hero-wrap2 {
				.hero-content {
					.listing-search-form {
						.search-wrap {
							width: 100%;
						}
					}
					h1 {
						font-size: 44px;
						line-height: 56px;
						margin-bottom: 30px;
					}
				}
				.hero3-thumb-wrap {
					max-width: 100%;
					width: 100%;
					position: initial;
					gap: 14px;
					top: -165px;
					right: 0;
					margin-top: 30px;
					.hero3-thumb-inner {
						display: grid;
						gap: 14px;
						.thumb1 {
							width: 100%;
							img {
								width: 100%;
							}
						}
					}
					.thumb2 {
						max-width: 300px;
						img {
							width: 100%;
						}
					}
				}
			}
		}
		@include breakpoint(max-md) {
			padding: 130px 0 80px;
			.hero-content {
				.listing-search-form {
					.search-wrap {
						width: 100%;
					}
				}
				h1 {
					font-size: 36px;
					line-height: 56px;
					margin-bottom: 30px;
				}
			}
		}
	}
}
