//Offer Section
.offer-thumb-area {
	.theme-line {
		position: absolute;
		bottom: 0;
		right: -0px;
		z-index: -1;
		animation: leftr 2s linear infinite;
	}
	@include breakpoint(max-xxl) {
		.thumb1,
		.thumb {
			width: 100%;
			img {
				width: 100%;
			}
			.theme-line {
				display: none;
			}
		}
		.thumb {
			max-width: 300px;
		}
	}
}
.offer-content {
	.theme-btn {
		background: $black;
	}
	.connect-line {
		background-color: rgb(213, 213, 213);
		height: 60px;
		width: 1px;
	}
	.offer-condition-wrap {
		display: grid;
		gap: 24px;
		margin: 36px 0;
		.offer-connection {
			gap: 30px;
			.sty-title {
				font-size: 20px;
				font-weight: 800;
				color: $black;
			}
			.icon {
				width: 55px;
				height: 55px;
				min-width: 55px;
			}
		}
	}
	@include breakpoint(max-sm) {
		.connect-line {
			display: none;
		}
		.offer-condition-wrap {
			gap: 18px;
			margin: 28px 0;
			.offer-connection {
				gap: 8px 20px;
				flex-wrap: wrap;
				.sty-title {
					font-size: 18px;
				}
				.icon {
					width: 40px;
					height: 40px;
					min-width: 40px;
				}
			}
		}
	}
}

//Offer Section

//Step Section
.step-section {
	position: relative;
	z-index: 1;
	&::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 665px;
		content: "";
		background: url(../../assets/img/brand/step-bg.png) no-repeat center
			center;
		background-size: cover;
	}
	.step-slide-wrap {
		box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
		padding: 100px 0;
		.step-sponsor {
			img {
				transition: all 0.5s;
			}
		}
	}
	.swiper-slide.swiper-slide-active {
		.step-sponsor {
			img {
				filter: brightness(5);
				transform: scale(1.2);
			}
		}
	}
}

//Sponsor
.sponsor-section {
	padding: 100px 0;
	.step-sponsor {
		img {
			filter: brightness(0);
			transition: all 0.5s;
			opacity: 0.5;
		}
	}
	.swiper-slide.swiper-slide-active {
		.step-sponsor {
			img {
				filter: brightness(0);
				transition: all 0.5s;
				opacity: 1;
			}
		}
	}
	@include breakpoint(max-xl){
		padding: 80px 0;
	}
	@include breakpoint(max-lg){
		padding: 70px 0;
	}
}
.sponsor-border{
	border-bottom: 1px solid #d5d5d5;
}

.step-items {
	z-index: 1;
	position: relative;
	border: 1px solid rgb(213, 213, 213);
	background: $white;
	max-width: 217px;
	padding: 40px 10px;
	transition: all 0.4s;
	position: relative;
	transform: skewX(-10deg);
	.step-box {
		transform: skewX(10deg);
		max-width: 140px;
		margin: 0 auto;
		transition: all 0.5s;
	}
	&:hover {
		transform: skewX(0deg);
		.step-box {
			transform: skewX(0deg);
		}
		.icon {
			transform: scale(1.02);
		}
	}
	@include breakpoint(max-sm) {
		max-width: 100%;
		transform: skewX(0deg);
		.step-box {
			transform: skewX(0deg);
			max-width: 300px;
			margin: 0 auto;
			transition: all 0.5s;
		}
	}
}
.step-shape {
	position: absolute;
	left: -240px;
	height: 100%;
	top: 0;
	@include breakpoint(max-lg) {
		display: none;
	}
}
//Step Section

//Popular Section
.popular-section {
	.section-title {
		max-width: 500px;
	}
}
.popular-items {
	position: relative;
	overflow: hidden;
	img {
		width: 100%;
		border-radius: 8px;
	}
	.box-content {
		position: absolute;
		bottom: -100%;
		left: 15px;
		width: 90%;
		background: $theme-color;
		border-radius: 8px;
		padding: 40px 30px;
		transition: all 0.5s;
		.arrow {
			width: 55px;
			height: 55px;
			min-width: 55px;
			background: $white;
			position: absolute;
			right: 15px;
			top: -30px;
			i {
				color: $theme-color;
			}
		}
	}
	.some-cont {
		position: absolute;
		bottom: 35px;
		left: 35px;
		transition: all 0.4s;
		.listing {
			padding: 4px 12px;
			background: $theme-color;
			color: $white;
			border-radius: 8px;
			display: inline-block;
			font-size: 12px;
			position: relative;
			margin-left: 80px;
			margin-bottom: 10px;
			&::before {
				position: absolute;
				left: 0;
				bottom: -12px;
				width: 12px;
				height: 20px;
				content: "";
				background: $theme-color;
				clip-path: polygon(100% 0, 0 0, 0 100%);
			}
		}
	}
	@include breakpoint(max-xxl) {
		.box-content {
			padding: 20px 20px;
			.arrow {
				width: 45px;
				height: 45px;
				min-width: 45px;
				i {
					color: $theme-color;
				}
			}
		}
	}
	&:hover {
		cursor: pointer;
		.some-cont {
			opacity: 0;
		}
		.box-content {
			bottom: 15px;
			z-index: 1;
		}
	}
}
//Popular Section
