//Offer Section
.offer-thumb-area {
	.theme-line {
		position: absolute;
		bottom: 0;
		right: -0px;
		z-index: -1;
		animation: leftr 2s linear infinite;
	}
	@include breakpoint(max-xxl) {
		.thumb1,
		.thumb {
			width: 100%;
			img {
				width: 100%;
			}
			.theme-line {
				display: none;
			}
		}
		.thumb {
			max-width: 300px;
		}
	}
}
.offer-content {
	.theme-btn {
		background: $black;
	}
	.connect-line {
		background-color: rgb(213, 213, 213);
		height: 60px;
		width: 1px;
	}
	.offer-condition-wrap {
		display: grid;
		gap: 24px;
		margin: 36px 0;
		.offer-connection {
			gap: 30px;
			.sty-title {
				font-size: 20px;
				font-weight: 800;
				color: $black;
			}
			.icon {
				width: 55px;
				height: 55px;
				min-width: 55px;
			}
		}
	}
	@include breakpoint(max-sm) {
		.connect-line {
			display: none;
		}
		.offer-condition-wrap {
			gap: 18px;
			margin: 28px 0;
			.offer-connection {
				gap: 8px 20px;
                flex-wrap: wrap;
				.sty-title {
					font-size: 18px;
				}
				.icon {
					width: 40px;
					height: 40px;
					min-width: 40px;
				}
			}
		}
	}
}

//Offer Section
