//Discover Category
.discover-cate-wrapper {
	display: flex;
	grid-template-columns: repeat(1fr, 6);
	gap: 30px;
	.discover-cate-item {
		width: 100%;
	}
	@include breakpoint(max-xxl) {
		gap: 20px;
	}
	@include breakpoint(max-xl) {
		flex-wrap: wrap;
		justify-content: center;
		grid-template-columns: repeat(1fr, 3);
		.discover-cate-item {
			width: 30%;
		}
	}
	@include breakpoint(max-md) {
		flex-wrap: wrap;
		justify-content: center;
		grid-template-columns: repeat(1fr, 2);
		.discover-cate-item {
			width: 44%;
		}
	}
	@include breakpoint(max-sm) {
		.discover-cate-item {
			width: 100%;
		}
	}
}
.discover-cate-item {
	border: 1px solid rgb(213, 213, 213);
	border-radius: 5px;
	padding: 38px 0px 0;
	transition: all 0.5s;
	.icon {
		width: 100px;
		height: 100px;
		margin: 0 auto 38px;
		background-color: rgb(233, 10, 53, 0.051);
		transition: all 0.5s;
		.seri-badge {
			width: 32px;
			height: 32px;
			border-radius: 50%;
			background: $black;
			position: absolute;
			top: -5px;
			right: -5px;
			color: $white;
			font-size: 12px;
		}
	}
	.discover-text {
		background-color: rgb(245, 245, 245);
		display: block;
		padding: 15px 10px;
		&::before {
			background-color: rgb(245, 245, 245);
			position: absolute;
			bottom: 100%;
			left: 50%;
			transform: translateX(-50%);
			content: "";
			clip-path: polygon(50% 0%, 0 100%, 100% 100%);
			width: 35px;
			height: 11px;
		}
	}
	&.active,
	&:hover {
		transform: translateY(4px) scale(1.02);
		.icon {
			background-color: $theme-color;
			img {
				filter: brightness(25);
			}
		}
	}
	@include breakpoint(max-xxl) {
		padding: 30px 0 0;
	}
}
//Discover Category

//Business Single
.business-section {
	position: relative;
	z-index: 1;
	background: url(../../assets/img/element/business-bg.png) no-repeat center
		center;
	background-size: cover;
}
.business-single {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
	overflow: hidden;
	border-radius: 8px;
	.news-image {
		width: 100%;
		overflow: hidden;
		transition: all 0.5s;
		img {
			width: 100%;
			overflow: hidden;
			transition: all 0.5s;
		}
		.business-badge {
			position: absolute;
			top: 20px;
			left: 25px;
			z-index: 1;
		}
		.mike-hardson {
			position: absolute;
			left: 25px;
			bottom: 20px;
			img {
				width: 32px;
				height: 32px;
				object-fit: contain;
			}
		}
	}
	.business-content {
		.review-area {
			.re-line {
				width: 1px;
				background: $indef;
				height: 16px;
			}
		}
		.business-info {
			li {
				display: flex;
				align-items: center;
				gap: 8px;
			}
		}
		.line {
			width: 100%;
			height: 1px;
			background-color: rgb(213, 213, 213);
		}
		.form-info {
			button {
				width: 33px;
				height: 33px;
				background-color: rgb(245, 245, 245);
				transition: all 0.5s;
				&:hover {
					background: $theme-color;
					img {
						filter: brightness(25);
					}
					i {
						color: $white;
					}
				}
			}
		}
	}
	&:hover {
		.news-image {
			img {
				transform: scale(1.1);
			}
		}
	}
}
//Business Single

//Benefit Style
.benefit-section {
	background: url(../../assets/img/service/bg.png) no-repeat center center;
	background-size: cover;
}
.benefit-area {
	display: grid;
	gap: 25px;
	.benefit-items {
		.arrows {
			width: 55px;
			height: 55px;
			min-width: 55px;
			background: $white;
			border-radius: 50%;
			transition: all 0.5s;
		}
		&:hover {
			.arrows {
				transform: rotate(90deg);
				background: $theme-color;
				i {
					color: $white;
				}
			}
		}
	}
	.line {
		width: 100%;
		height: 1px;
		background: #d5d5d5;
	}
	@include breakpoint(max-xl) {
		gap: 18px;
		.benefit-items {
			.arrows {
				width: 45px;
				height: 45px;
				min-width: 45px;
			}
		}
	}
}
.benefit-thumb-inner {
	z-index: 1;
	.thumb1 {
		max-width: 370px;
		img {
			width: 100%;
		}
	}
	.thumb2 {
		max-width: 250px;
		margin-left: -50px;
		img {
			width: 100%;
		}
	}
	.benefit-ele {
		position: absolute;
		top: -80px;
		left: -120px;
		z-index: -1;
		animation: rots 2s linear infinite;
	}
	@include breakpoint(max-lg) {
		.benefit-ele {
			top: initial;
			bottom: 20px;
			left: initial;
			right: 20px;
		}
	}
}
@keyframes rots {
	50% {
		transform: rotate(5deg);
	}
}
//Benefit Style

//Sponsor Section3
.sponsor-section3 {
	background: url(../../assets/img/hero/sponsor3-bg.png) no-repeat center
		center;
	background-size: cover;
	padding: 110px 0;
	.step-sponsor {
		transition: all 0.5s;
		img {
			transition: all 0.5s;
		}
	}
	.swiper-slide.swiper-slide-active {
		.step-sponsor {
			img {
				filter: brightness(5);
				transform: scale(1.2);
			}
		}
	}
	@include breakpoint(max-xxl) {
		padding: 90px 0;
	}
	@include breakpoint(max-xl) {
		padding: 80px 0;
	}
	@include breakpoint(max-lg) {
		padding: 70px 0;
	}
	@include breakpoint(max-md) {
		padding: 60px 0;
	}
}
//Sponsor Section3

//Discover
.discover-section {
	z-index: 1;
	.discover-shape {
		position: absolute;
		bottom: 0;
		width: 100%;
		z-index: -1;
	}
}
.discover-items {
	border: 1px solid rgb(213, 213, 213);
	padding: 40px 50px;
	overflow: hidden;
	transition: all 0.4s;
	.box {
		max-width: 345px;
	}
	.badge-ele {
		position: absolute;
		right: 0;
		top: 0;
		width: 155px;
		height: 155px;
		background: rgb(213, 213, 213);
		border-bottom-left-radius: 150px;
	}
	&:hover {
		border-color: $theme-color;
	}
	@include breakpoint(max-xl) {
		.badge-ele {
			width: 105px;
			height: 105px;
			img {
				width: 50px;
			}
		}
	}
	@include breakpoint(max-xl) {
		padding: 24px 24px;
		.badge-ele {
			width: 65px;
			height: 65px;
			img {
				width: 30px;
			}
		}
	}
}
.discover-separate {
	.container {
		max-width: 1465px;
		margin: 0 auto;
	}
}
.discover-all-wrap {
	display: flex;
	flex-wrap: wrap;
	.discover-separ-item {
		width: 20%;
		padding: 10px;
		.box {
			background-color: rgb(245, 245, 245);
			border-radius: 12px;
			border: 5px solid $white;
			box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.08);
			padding: 30px 30px;
			position: relative;
			z-index: 1;
			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				content: "";
				background: url(../../assets/img/project/discover-thumb.png)
					no-repeat center center;
				background-size: cover;
				border-radius: 12px;
				z-index: -1;
				transition: all 0.4s;
				transform: scale(0);
			}
			.icon {
				position: absolute;
				right: 24px;
				top: 24px;
				width: 45px;
				height: 45px;
				i {
					color: $white;
					font-size: 16px;
				}
			}
		}
		&.active,
		&:hover {
			.box {
				&::before {
					transform: scale(1);
				}
			}
			span {
				color: $white;
			}
		}
	}
	@include breakpoint(max-xl) {
		.discover-separ-item {
			width: 20%;
			padding: 5px;
			.box{
				padding: 24px 18px;
			}
		}
	}
	@include breakpoint(max-lg) {
		.discover-separ-item {
			width: 33.33%;
			padding: 5px;
			.box{
				padding: 24px 18px;
			}
		}
	}
	@include breakpoint(max-md) {
		.discover-separ-item {
			width: 50%;
			padding: 5px;
			.box{
				padding: 24px 18px;
			}
		}
	}
	@include breakpoint(max-xxsmall) {
		.discover-separ-item {
			width: 100%;
			padding: 5px;
			.box{
				padding: 24px 18px;
			}
		}
	}
}
//Discover

//Watch Style
.watch-section{
	background: url(../../assets/img/project/watch-bg.png) no-repeat center center;
	background-size: cover;
	padding: 0 0 120px;
	background-attachment: fixed;
}
//Watch Style