//Social Share
.authentic-item {
	position: relative;
	z-index: 1;
	transition: all 0.4s;
	&::before {
		position: absolute;
		top: -10px;
		left: -10px;
		content: "";
		border-radius: 5px;
		background-color: rgb(213, 213, 213);
		width: 80%;
		height: 60%;
		transition: all 0.4s;
	}
	.cont {
		margin-top: -18px;
		position: relative;
		z-index: 1;
		.social-share {
			.share {
				position: relative;
				width: 48px;
				height: 48px;
				background: $theme-color;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				i {
					color: $white;
				}
				margin: 0 auto 20px;
				&:hover{
					cursor: pointer;
					.social-area{
						transform: translateX(-50%) rotateX(0deg);
					}
				}
			}
			.social-area{
				position: absolute;
				bottom: 60px;
				left: 50%;
				transform: translateX(-50%) rotateX(90deg);
				transition: all .4s;
			}
		}
	}
	&:hover{
		transform: translateY(5px);
		&::before{
			background: $theme-color;
		}
	}
}
//Social Share

//What We do
.what-wedo-wrap {
	z-index: 1;
	position: relative;
	&::before {
		position: absolute;
		height: 630px;
		width: 1490px;
		content: "";
		left: 50%;
		transform: translate(-50%, -50%);
		top: 50%;
		content: "";
		z-index: -1;
		background: url(../../assets/img/team/what-bg.png) no-repeat center center;
		background-size: cover;
		border-radius: 16px;
		overflow: hidden;
	}
	.ele-badge1,
	.ele-badge2,
	.ele-badge3 {
		position: absolute;
		width: 81px;
		height: 81px;
		border: 5px solid $white;
		img{
			width: 28px;
		}
	}
	.ele-badge1 {
		right: -120px;
		top: 50%;
		transform: translateY(-50%);
	}
	.ele-badge2 {
		right: 30%;
		top: 22px;
	}
	.ele-badge3 {
		right: 40%;
		bottom: 10px;
	}
	@include breakpoint(max-lg) {
		&::before {
			height: 100%;
		}
		padding: 60px 0;
		.ele-badge1 {
			display: none;
		}
		.ele-badge2 {
			display: none;
		}
	}
}
.what-wedo-thumbarea {
	display: flex;
	align-items: center;
	gap: 24px;
	justify-content: flex-end;
	.thumb {
		width: 100%;
		img {
			width: 100%;
		}
	}
	.what-wedo-thumbinner {
		display: grid;
		gap: 24px;
		.thumb2 {
			width: 100%;
			img {
				width: 100%;
			}
		}
	}
	//review badge
	.review-badge {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		animation: updowns 2s linear infinite;
	}
	@include breakpoint(max-sm) {
		gap: 14px;
		.thumb1 {
			max-width: 300px;
			img {
				width: 100%;
			}
		}
		.what-wedo-thumbinner {
			display: grid;
			gap: 14px;
			.thumb2 {
				width: 100%;
				img {
					width: 100%;
				}
			}
		}
	}
}
//What We do
