//What We do
.what-wedo-wrap {
	z-index: 1;
	position: relative;
	&::before {
		position: absolute;
		height: 630px;
		width: 1490px;
		content: "";
		left: 50%;
		transform: translate(-50%, -50%);
		top: 50%;
		content: "";
		z-index: -1;
		background: url(../../assets/img/team/what-bg.png) no-repeat center center;
		background-size: cover;
		border-radius: 16px;
		overflow: hidden;
	}
	.ele-badge1,
	.ele-badge2,
	.ele-badge3 {
		position: absolute;
		width: 61px;
		height: 61px;
		border: 5px solid $white;
	}
	.ele-badge1 {
		right: -120px;
		top: 50%;
		transform: translateY(-50%);
	}
	.ele-badge2 {
		right: 30%;
		top: 22px;
		animation: updowns 2s linear infinite;
	}
	.ele-badge3 {
		right: 40%;
		bottom: 10px;
	}
	@include breakpoint(max-lg) {
		&::before {
			height: 100%;
		}
		padding: 60px 0;
		.ele-badge1 {
			display: none;
		}
		.ele-badge2 {
			display: none;
		}
	}
}
.what-wedo-thumbarea {
	display: flex;
	align-items: center;
	gap: 24px;
	justify-content: flex-end;
	.thumb {
		width: 100%;
		img {
			width: 100%;
		}
	}
	.what-wedo-thumbinner {
		display: grid;
		gap: 24px;
		.thumb2 {
			width: 100%;
			img {
				width: 100%;
			}
		}
	}
	//review badge
	.review-badge {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		animation: updowns 2s linear infinite;
	}
	@include breakpoint(max-sm) {
		gap: 14px;
		.thumb1 {
			max-width: 300px;
			img {
				width: 100%;
			}
		}
		.what-wedo-thumbinner {
			display: grid;
			gap: 14px;
			.thumb2 {
				width: 100%;
				img {
					width: 100%;
				}
			}
		}
	}
}
//What We do
