
//Testimonial Css
.testimonail-items{
    background: $white;
    padding: 40px;
    border-radius: 8px;
    z-index: 1;
    overflow: hidden;
    .thumb{
        border: 2px solid $theme-color;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    .testimonial-shape{
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
}
//Testimonial Css